:root {
    --mainGrey: #656565;
    --orange: #F88B58;
    /* --darkOrange:#e15210; */
    --darkOrange:#C8490E;
    --white:#ffffff;
    --black:#000000;
    /* --lightGrey:#CDD6DD; */
    --lightGrey:#D2D7D9;
    --darkGrey:#1f1f1f;
    --bg:#e7e7e7
  }

body{
  font-size:16px;
    background: var(--bg);
    color:var(--darkGrey);
    font-family:'Open Sans';
}

@font-face {
  font-family: 'Indie Flower';
  src: url('IndieFlower.woff2') format('woff2'),
      url('IndieFlower.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('OpenSans-Regular.woff2') format('woff2'),
      url('OpenSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.projectIntro h2,.projectIntro h3{
  font-family:'Open Sans';
}

h1{
  font-size:35px;
}
h2{
  font-size:30px;
}
h3{
  font-size:28px;
}
h4{
  font-size:24px;
}


  h1, h2, h3, h4{
    /* font-family: 'Gloria Hallelujah', cursive; */
/* font-family: 'Shadows Into Light', cursive; */
font-family:'Indie Flower', cursive;
  }

  .topnav {
    overflow: hidden;
    background: var(--mainGrey);
    display:flex;
    justify-content: space-around;
  }
  .topnav .logo{
      flex: 0 0 50%;
  }

  .logo {
background-image: url("/logo/2.png");
width: 200px;
background-size: contain;
background-repeat: no-repeat;
background-position: center;
transition:all .2s ease;
}
.logo:hover{
  background-image: url("/logo/1.png");
}
  
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    transition:all .5s ease;
  }

  .topnav .linkBtn{
    color:#5C1B1B;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
    border-radius:10px;
  }
  
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }
  
  .topnav .icon {
    display: none;
  }

  img:not(.blocks){
    border-radius:10px;
  }


footer {
    text-align: center;
    padding: 2rem;
    background-color: var(--darkGrey);
    color: white;
  }

footer p {
    margin: 0;
}

footer ul {
    margin: 0;
    list-style-type: none;
}

a, footer a{
  transition:all .2s ease;
  color: var(--orange);
}

a:hover{
  color: var(--darkOrange);
}

footer .footer-social ul {
    display: flex;
    justify-content: flex-start;
}
  
  .navbar-holder{
    background: var(--mainGrey);
    block-size: 5%;
    top: 0;
    position:fixed;
    z-index:100;
    width:100%;
    filter:drop-shadow(0 2px 2px var(--darkGrey))
  }
  
    .mynavbar{
      list-style-type: none;
    margin: 0;
    font-size: 1.2rem;
    height: 4rem;
    padding: 0;
    padding-right: 8px;
    width:100%;
    position:fixed;
    background: var(--mainGrey);
    }

    .mynavbar a{
        color: var(--white)
    }

    .logoHolder{
      width:50%;
    }

    .h2-title{
      text-align: center;
      margin: 2rem auto;
      width: max-content;
      border-bottom: 2px solid var(--orange);
    }
  
    .projectPreview{
      background: var(--lightGrey);
      /* min-height:20rem; */
      border-radius:10px;
        margin-bottom:2rem;
        width:80%;
        margin:5rem auto ;
        /* color:var(--white); */
        text-align:center;
        filter:drop-shadow(0 7px 4px var(--mainGrey));
        transition:all .2s ease;
      }
      

      .projectPreview h6{
        font-weight:bolder;
        padding: 10px 0;
     
      }

      .projectPreview p{
        text-align:left;
      }

      .projectPreview:hover{
transform:scale(1.05);
filter:drop-shadow(0 0 4px var(--orange));
      }

    .previewImg{
      height:100%;
      width:100%;
      /* border:2px solid var(--mainGrey); */
      border-radius:5px;
    }

    .previewImgContainer{
      height: 75%;
      width: 85%;
      margin:2rem auto;
    }
    
    .projectRow{
        justify-content: center;
    }
  
    /* li {
    float: left;
  } */

  .firstSection{
    min-height:calc(100vh - 4rem);
    margin-top:4rem;
  }
  
  .landing{
    margin-top:4rem;
    background-image: url('/canva-assets/lightbulbs-resized.png');
    background-size:100vw calc(100vh - 4rem);
    height:calc(100vh - 4rem);
    display:flex;
    flex-direction:column;
    justify-content: space-around;
    align-items: center;
  }
  
  a {
    display: block;
    padding: 8px;
    /* background-color: #dddddd; */
  }

  .manualFlip{
    flex-direction: row-reverse;
  }

  /* .projectLink h3{
   color: var(--orange);
  } */

  .projectLink, .projectLink:hover{
    text-decoration: none;
    padding: 0;
  
    color:inherit;
  }
  
  .linkBtn{
    background:var(--orange);
    border-radius:5px;
    border:none;
    color:#5C1B1B;
    font-weight: bolder;
    transition:all .2s ease;
    text-decoration: none;
  }

  .linkBtn:hover{
  background:var(--darkOrange);
  transform:scale(1.05);
  color:var(--white);
  text-decoration: none;
  }
  
  .headerBtn{
    width:40%;
    display: inline-block
  }



  .socialBtn{
    background:var(--orange);
    border-radius:50%;
    padding:5px;
    transition: all .2s ease;
    max-height:5rem;
    max-width:5rem;
    margin:1rem;
    
  }
  .socialBtn:hover{
    transform:scale(1.1);
    background:var(--darkOrange);
  
  }

  .carousel-indicators .active {
    margin: 18px 6px;
    background-color:var(--orange);
  }
  
  .carousel-indicators{
    bottom:-5rem!important;
  }
  .carousel-indicators li{
    background-color:var(--orange)
  }

  .closePopup{
    right: 0;
    position: absolute;
    z-index: 99;
    background: none;
    border: none;
    color: #d2d2d2;
    font-size: 3rem;
    font-weight: 900;
  }

  .popup{
    
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(4px);
    z-index: 20;
    cursor: pointer;
  }

  .carousel-pop{
    z-index: 100;
    position: absolute;
    overflow: hidden;
    left: 50%;
    top: 20%;
    transform: translate(-50%,0);
  }

  .Skills, .Achivements{
    background: var(--lightGrey);
    /* background:white; */
    /* border:2px solid var(--orange); */
    padding:5rem;
    border-radius:10px;
    filter:drop-shadow(0 2px 3px var(--darkGrey));
    font-weight:bold;
  }

  .Skills li, .Achivements li{
margin: 1rem 0;
list-style: none;
  }

  .Skills li i, .Achivements li i{
font-size:1.5rem;
margin: 1rem;

color: var(--orange);
  }

  .Skills ul, .Achivements ul{
    padding: 0;
    min-width: 30vw;
  }

  

  .Skills h3, .Achivements h3{
    text-align:center
  }
  
  .Skills{
    height:100%;
  }
  
  .Achivements{
    margin:auto auto 2rem auto;
  }
  
  .tag{
       padding: 0px 10px;
       margin: 0.2rem;
       display: inline-block;
       border-radius: 10px;
       background: var(--orange);
       font-weight:600;
  }

  .tagsHolder{
    padding:5px;
    font-size: 0.8em;
  }
  
  
  
  .research{
    background:#f85858;
    /* color:white; */
  }
  
  .development{
    background:#f8bb58;
  }

  @media screen and (max-width:768px){
  

    .logoHolder{
      width:34%;
    }

    .landing{
      background-image: none;
    }
    .landing .col-md-6{
      margin-bottom: 3rem;
      text-align: center;
    }
      .tagsHolder{
    display:none
  }
  }

  @media screen and (max-width:555px){
 .mynavbar li{
      width:min-content;
    }
    .mynavbar a:not(.linkBtn){
      font-size:0.9em;
      padding:0;
    }
  }

  
@media screen and (max-width:780px){
  .manualFlip{
    flex-direction: column;
  }
  .firstSection{
    margin-top:7rem;
  }
}

  
  @media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
    font-size:3rem;
      display: block;
    }
.logo{
  height: 6rem;
  margin-left: 1rem;
}
      .topnav{
          display:block;
      }
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }